@namespace url(http://www.w3.org/1999/xhtml);
body {
    background-color: #262626 !important;
}

body > center > table, input, textarea {
    background-color: #222 !important;
}

body > center > table > tbody > tr:first-child > td {
    background-color: #ff6600 !important;
}

/* Bright text */
td.title a:link, span.comment font, span.comment font a:link, u a:link, span.yclinks a:link, body:not([id]),
td:nth-child(2):not(.subtext) > a:link, input, textarea, p > a, a > u {
    color: #ccc !important;
}

.admin td {
    color: #aaa !important;
}

/* search box and comment box */
input, textarea {
    border: 1px solid #828282 !important;
}

/* Comment folding */
.comhead a.collapse{
    cursor: pointer;
}

.comhead a.collapse:hover{
    text-decoration: none;
}

.athing.hidden, td.default.hidden>span.comment, td.default.hidden>div.reply{
    display: none;
}

/*
    Headers will jump around when collapsed if this is not used
*/
td.default.hidden{
    padding-bottom: 14px;
}
