[submodule "scripts/offlineimap"]
	path = scripts/offlineimap
	url = https://github.com/OfflineIMAP/offlineimap3.git
[submodule "git-pile"]
	path = git-pile
	url = https://github.com/keith/git-pile.git
