[submodule "scripts/offlineimap"]
	path = scripts/offlineimap
	url = https://github.com/OfflineIMAP/offlineimap3.git
[submodule "css"]
	path = css
	url = https://github.com/keith/dotcss-styles.git
[submodule "weechat"]
	ignore = dirty
	path = weechat
	url = https://github.com/keith/weechat.git
[submodule "git-pile"]
	path = git-pile
	url = https://github.com/keith/git-pile.git
