####### Custom #######
ssh.dmg
.dropbox
vim/bundle/*
vim/autoload/pathogen.vim
bin/yuicompressor*
irssi/config.autosave
mutt/cache
mutt/certificates
mutt/postponed
mutt/temp/*
!mutt/temp/.gitkeep
linux/configs/fish/fish_history
linux/configs/fish/fishd*
vim/flavors
gnupg/*
!gnupg/gpg.conf
vim/*.spl
linux/configs/fish/generated_completions
**/.ropeproject
**/*.pyc
flycheck_*
emacs.d/elpa
*.eld
rbenv/*
!rbenv/default-gems

####### Linux #######
!.gitignore
*~


####### OSX #######
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


####### vim #######
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

atom/.*
atom/comiple-cache
atom/packages
atom/storage
