[submodule "vim/src/rspec.vim"]
	path = vim/src/rspec.vim
	url = https://github.com/Keithbsmiley/rspec.vim.git
[submodule "vim/src/specta.vim"]
	path = vim/src/specta.vim
	url = https://github.com/Keithbsmiley/specta.vim.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "mutt/solarized"]
	path = mutt/solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "scripts/selecta"]
	path = scripts/selecta
	url = https://github.com/garybernhardt/selecta.git
[submodule "scripts/t"]
	path = scripts/t
	url = https://github.com/sjl/t.git
[submodule "vim/src/investigate.vim"]
	path = vim/src/investigate.vim
	url = https://github.com/Keithbsmiley/investigate.vim.git
[submodule "vim/src/tmux.vim"]
	path = vim/src/tmux.vim
	url = https://github.com/Keithbsmiley/tmux.vim.git
[submodule "scripts/mutt-notmuch"]
	path = scripts/mutt-notmuch
	url = https://github.com/honza/mutt-notmuch-py.git
