####### Custom #######
ssh.dmg
.dropbox
vim/bundle/*
!vim/bundle/vundle
!vim/src/.gitkeep
\[Vundle\]\ Installer
bin/yuicompressor*
irssi/config.autosave
mutt/cache
mutt/certificates
mutt/offlineimaphelpers.pyc
mutt/postponed
mutt/temp
linux/configs/fish/fish_history
linux/configs/fish/fishd*
vim/flavors
gnupg/*
!gnupg/gpg.conf

####### Linux #######
!.gitignore
*~


####### OSX #######
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


####### vim #######
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

