!.gitignore
**/*.pyc
**/.ropeproject
*.un~
*~
.*.s[a-w][a-z]
._*
.DS_Store
Icon

.netrwhist
Session.vim
vim/*.spl
vim/bundle/*

config/newsbeuter/*
!config/newsbeuter/config

!mutt/temp/.gitkeep
mutt/cache
mutt/certificates
mutt/postponed
mutt/temp/*

ncmpcpp/error.log
