priority -50

snippet header
" File: ${1:`!v expand('%:t')`}
" Author: ${2:`!v g:snips_author`}
" Description: ${3}
" Last Modified: `!v strftime("%B %d, %Y")`
endsnippet

snippet now
`!v strftime("%B %d, %Y")`
endsnippet

snippet once
if exists("g:${1:loaded_plugin}") && g:$1
	finish
endif
let g:$1 = 1
endsnippet

snippet gvar "Global / configuration variable"
if !exists("g:${1:MyUltraImportantVar}")
	let g:$1 = ${2:"${3:<tab>}"}
endif
endsnippet

# vim:ft=snippets:
